fastapi
uvicorn[standard]==0.29.0
numpy
pandas
python-dotenv
cohere
google-genai
qdrant-client
pdf2image
pytesseract
Pillow
scikit-learn
prometheus-fastapi-instrumentator
prometheus_client
requests
pydantic
python-multipart==0.0.9
redis
openai